<%= render 'hero' %>

<section class="section">
  <div class="container">
    <div class="columns">
    	<% if user_signed_in?%>
      <div class="column">
    		<%= render 'profile'%>
        <%= render 'trends'%>
      </div>      
    	<% else %>
      		<%= render 'trends'%>

     	<% end %>
     		<%= render 'feed' %>
      		<%= render 'follow-the-writer' %>
    </div>
  </div>
</section>




